body, html{
    height: 100%;
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    object-fit:cover;
    background-color: black;
}
@font-face {
    font-family: "UbuntuMedium";
    src: url("../font/Ubuntu-Medium.ttf");

}
@font-face {
    font-family: "UbuntuBold";
    src: url("../font/Ubuntu-Bold.ttf");
}
a{
    color: white;
}
a :hover{

    color: white;
}
.linkbox{
    font-family: UbuntuMedium, serif;
    display: grid;
    width: 600px;
    height: 371px;
    border-radius: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    grid-template-rows: 171px 100px 100px;
    text-align: center;
    color:white;
    background-color: #343a40;
    opacity: 70%
}
#name{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 1;
}
#content{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
}

.links{
    grid-template-rows: auto;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    display: grid;
    grid-auto-columns: 200px;
}

i{
    font-size: 70px;
}


.about{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.github{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

}

.linkedin{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

@media only screen and (max-width: 768px) {
    .linkbox {
        width: 100%;
        display: grid;
        grid-template-rows: 100px 50px 221px;
    }
    #name{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 1;
        grid-row-end: 1;
    }
    #content{
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 1;
        grid-row-end: 2;
    }
    .links{
        grid-template-rows: auto;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 1;
        display: grid;
        grid-auto-columns: 100%;
    }
    i{
        font-size: 65px;
    }
    .linkedin{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .github{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;

    }
    .about{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }

}

@media only screen and (min-width: 768px)  {
    .linkbox {width: 600px;}
}

@media only screen and (max-height: 810px) {
    body, html{
        object-fit: cover;
        width: 100%;
        height: 600px;
        background-position-y: -198px;

    }
    .linkbox{
        margin-top: 120px;
        top: 282px;
    }

}

